*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8ec0f3;
}

/* Content Container Styles */

.conteiner__content{
    padding: 1rem;
    background-color: #524F63;
    border-radius: 5px;
    box-shadow: 1px 1px 10px black;
}

/* Logo Styles */

.conteiner__logo{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    color: #ffffff;
}

.title__logo{
    margin: 0;
}

.text__logo{
    margin: 0;
}

/* Input Styles */

.conteiner__result{
    margin-bottom: 1rem;
    text-align: center;
}


.input__result{
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 5px;
    font-size: 20px;
    background-color: #9BAEA2;
    width: 250px;
}


/* Special Button Styles */

.conteiner__buttons-specials{
    display: grid;
    grid-template-columns: repeat(6,40px);
    gap: .5rem;
    justify-content: center;

    align-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 1rem;
}

.conteiner__button-special:active{
    transform: scale(0.9);
}

.button__special{
    border: none;
    padding: .5rem;
    background-color: #353F49;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

/* Button Styles */

.conteiner__buttons{
    display: grid;
    grid-template-columns: repeat(5,50px);
    gap: .5rem;    
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.conteiner__button:active{
    transform: scale(0.9);
}

.button{
    cursor: pointer;
    border: none;
    border-radius: 0px 0px 5px 5px;
    background-color: #9390A1;
    color: #ffffff;
    padding: .5rem 1rem;
}

/*AC button styles*/

.button__ac{
    padding: .5rem;
    background-color: #981D3E;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.conteiner__button-delete:active{
    transform: scale(.9);
}


/*DEL button styles*/


.button__del{
    padding: .5rem;
    background-color: #981D3E;
    color: #ffffff;
    border: none;
    cursor: pointer;
}


.conteiner__button-del:active{
    transform: scale(.9);
}

/* EXP button style */

.button__exp{
    padding: .5rem;
}

/* AC button  style */

.button__ans{
    padding: .5rem;
}